.info-sizing {
  padding: 0 calc((100% - 1160px) / 2);
  overflow: hidden;
  @media (max-width: 1160px) {
    padding: 0 16px;
  }
}

.info-content {
  width: 100vw;
}

.info-columns {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.text-column {
  width: 445px;
  font-size: 14px;
  line-height: 150%;
}

.numeral-column p {
  padding: 5px 0 25px 0;
}

.text-headers h2 {
  padding-bottom: 40px;
  font-size: 21px;
}
