.slick-slide img {
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
}

.slick-slide div {
  overflow: hidden;
  outline: 0;
}

.slick-center img {
  filter: none;
  transform: scale(1.1);
  transition: all 0.4s;
}

.slider-text {
  position: absolute;
  z-index: 10;
  padding: 20px;
  font: {
    size: 24px;
    weight: 700;
  }
}

.slider-vertical-text {
  z-index: 10;
  top: 70%;
  position: absolute;
  transform: rotate(270deg);
}

@media (max-width: 1000px) {
  // .slider-vertical-text {
  //   display: none;
  // }
  .slider-text {
    font-size: 16px;
  }
}
