@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
$dark: #333333;
* {
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  overflow-x: hidden;
  text-decoration: none;
}

html {
  background-color: $dark;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.gold {
  color: #d1a954;
}

.main-content {
  background: no-repeat url(./images/bg.png);
  width: 100vw;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

.sizing {
  padding: 0 calc((100% - 960px) / 2);
  overflow: hidden;
  @media (max-width: 1160px) {
    padding: 0 16px;
  }
}

.hide992 {
  @media (max-width: 992px) {
    display: none;
  }
}
.header {
  padding: 150px 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  @media (max-width: 576px) {
    padding: 50px 0;
  }
}

.ff700 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
